language: node_js
node_js:
  - 6
  - 8
  - 10
before_install:
  - npm install -g npm@latest
  - npm install -g greenkeeper-lockfile@1
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
script: npm run lint && npm run test-coveralls
